.about h1{
    font-weight: bolder;
    font-size: 50px;
    font-family: helveticaNeueBold;
}

.about p{
    font-size: 30px;
    font-weight: 600;
}

.about {
    padding: 20px;
}

#me {
    height: 400px;
}

#wiggle {
    height: 40px;
}

#insta-logo {
    height: 20px;
    margin-right: 8px;
}

#twitch-logo {
    height: 20px;
    margin-right: 8px;
}