h1{
    font-weight: bolder;
    font-size: 50px;
    font-family: helveticaNeueBold;
}

.builds p {
    font-size: 3vw;
}

.builds img {
    max-width: 21vw;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.builds {
    display: inline-flex;
}

img{
    transition: transform 1s;
    margin:0 auto;
}
.builds img:hover{
    transform:scale(1.2);
}

@media (max-width: 900px) {
    .builds {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .builds img {
        max-width: 28vw;
        height: auto;
    }
}

@media (max-width: 500px) {
    .builds {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .builds img {
        max-width: 40vw;
        height: auto;
    }
}