#ep75-1 {
    height: 30vw;
}

.content p {
    font-size: 25px;
    font-weight: 600;
}

.content {
    padding: 20px;
}

#stock-board {
    height: 35vw;
}

#box {
    height: 45vw;
}

.stock-specs {
    display: inline-flex;
}

.specs-description {
    padding: 20px;
}

h2 {
    font-family: helveticaNeueBold;
    margin-top: 40px;
    font-size: 35px;
}

#switches {
    height: 45vw;
}

.switch-descriptions {
    padding: 20px;
}

.switch-specs {
    display: flex;
    padding: 20px;
}

@media (max-width: 768px) {
    #ep75-1 {
        height: 50vw;
    }
    #stock-board {
        height: 60vw;
    }
    #box {
        height: 60vw;
    }
    #switches {
        height: 60vw;
    }
    #ep75-gallery-1 {
        height: 80vw;
        padding: 15px;
    }

    #ep75-gallery-2 {
        height: 80vw;
        padding: 15px;
    }
    
    #ep75-gallery-3 {
        height: 80vw;
        padding: 15px;
    }
    
    #ep75-gallery-4 {
        height: 50vw;
        padding: 15px;
    }
}

h3 {
    font-size: 25px;
    font-family: helveticaNeueBold;
}

#final-board {
    height: 35vw;
    padding: 20px;
}

#final-board2 {
    height: 35vw;
}

.final-img {
    display: inline-flex;
    padding: 20px;
    align-items: center;
}

#ep75-gallery-1 {
    max-width: 400px;
    padding: 15px;
}

#ep75-gallery-2 {
    max-width: 400px;
    padding: 15px;
}

#ep75-gallery-3 {
    max-width: 400px;
    padding: 15px;
}

#ep75-gallery-4 {
    max-height: 300px;
    padding: 15px;
}

.gallery {
    display: flex;

}