.content {
    padding: 20px
}

#gmmk-header {
    height: 30vw;
}

#gmmk-box {
    height: 700px;
    padding: 20px;
}

.stock-specs {
    display: inline-flex;
    align-items: center;
}

.specs-container {
    padding: 20px;
}

#gmmk-switch {
    height: 700px;
}

.switch-specs {
    display: inline-flex;
    padding: 20px;
}

.switch-specs-description {
    margin-right: 50px;
    margin-top: 80px;

}

#final-build {
    height: 700px;
}

#gmmk-2 {
    height: 500px;
    padding: 8px;
}

#gmmk-3 {
    height: 500px;
    padding: 8px;
}

#gmmk-5 {
    height: 500px;
    padding: 8px;
}

#gmmk-6 {
    height: 500px;
    padding: 8px;
}

#gmmk-7 {
    height: 500px;
    padding: 8px;
}

#gmmk-9 {
    height: 500px;
    padding: 8px;
}

@media (max-width: 768px) {
    #gmmk-header {
        height: 40vw;
    }
    #gmmk-box {
        height: 80vw;
    }
    .stock-specs {
        display: flex;
        flex-direction: column;
    }
    .switch-specs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #gmmk-switch {
        height: 80vw;
    }
    #final-build {
        height: 80vw;
    }
    #gmmk-2 {
        height: 80vw;
    }
    #gmmk-3 {
        height: 80vw;
    }
    #gmmk-5 {
        height: 80vw;
    }
    #gmmk-6 {
        height: 80vw;
    }
    #gmmk-7 {
        height: 80vw;
    }
    #gmmk-9 {
        height: 80vw;
    }
}