@font-face {
  font-family: helveticaNeue;
  src: url('./Helvetica\ Neue\ UltraLight.ttf');
}

@font-face {
  font-family: helveticaNeueBold;
  src: url('./HelveticaNeueBold.ttf');
}

body {
  margin: 0;
  font-family: helveticaNeue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
