#k6-1 {
    height: 400px;
    padding: 8px;
}

#k6-2 {
    height: 400px;
    padding: 8px;
}

#k6-3 {
    height: 400px;
    padding: 8px;
}

#k6-4 {
    height: 400px;
    padding: 10px;
}

#k6-5 {
    height: 400px;
    padding: 8px;
}

#k6-6 {
    height: 400px;
    padding: 8px;
}

#k6-7 {
    height: 400px;
    padding: 8px;
}

#k6-8 {
    height: 400px;
    padding: 8px;
}

#k6-9 {
    height: 400px;
    padding: 8px;
}

@media (max-width: 768px) {
    #k6-1 {
        height: 40vw;
        padding: 8px;
    }
    
    #k6-2 {
        height: 40vw;
        padding: 8px;
    }
    
    #k6-3 {
        height: 40vw;
        padding: 8px;
    }
    
    #k6-4 {
        height: 40vw;
        padding: 10px;
    }
    
    #k6-5 {
        height: 80vw;
        padding: 8px;
    }
    
    #k6-6 {
        height: 40vw;
        padding: 8px;
    }
    
    #k6-7 {
        height: 40vw;
        padding: 8px;
    }
    
    #k6-8 {
        height: 80vw;
        padding: 8px;
    }
    
    #k6-9 {
        height: 40vw;
        padding: 8px;
    }
}